.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-content: center;
  width: fit-content;
}

.board div {
  height: 5rem;
  width: 5rem;
  background-color: bisque;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-page-wrapper {
  display: none;
}

#in-game-winner,
.winner-text,
.game-button-wrapper {
  display: none;
}
