html,
body {
  font-family: 'Jacquard 24', Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at top, #73d3ff, #ccfffc);
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  margin: 0;
}
h1 {
  text-align: center;
}

h1,
h2 {
  margin-top: 0;

  color: #594bd8;
}

p,
h2,
.board {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-content: center;
  width: fit-content;
}

.board div {
  height: 5rem;
  width: 5rem;
  background-color: rgb(253, 200, 255);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board div {
  transition: background-color 0.2s, transform 0.1s;
}

.board div:hover {
  background-color: #dc8cff;
  transform: scale(1.02); /* Slightly enlarges the tile */
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.game-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10vw;
  align-items: top;
  padding-top: 3rem;
}

.total-scores-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.total-scores-wrapper div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
}

.total-scores-wrapper p {
  margin: 0.4rem;
}

.player1-side,
.player2-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  align-self: start;
}

#player1-in-game-name,
#player2-in-game-name {
  font-size: 2rem;
}

#finished-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-page-wrapper,
#draggableX-player1,
#draggableO-player1,
#draggableX-player2,
#draggableO-player2,
.shuffling-names-wrapper,
#finished-game {
  display: none;
}

#game-page-wrapper h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#in-game-winner,
.winner-text,
.game-button-wrapper {
  visibility: hidden;
}

.name-input-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}

#main-wrapper h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

input {
  padding: 0.2rem 1rem 0.2rem 0.4rem;
  font-size: 1.3rem;
  border: 1px solid black;
}

#new-round-button,
#finish-game-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5eace0, #594bd8);
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  border: 2px solid #594bd8;
}

#new-round-button:hover,
#finish-game-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #73d3ff, #ccfffc);
  transform: scale(1.05);
}

#start-game-button,
#new-game-button {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5eace0, #594bd8);
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  border: 2px solid #594bd8;
}

#start-game-button:hover,
#new-game-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #73d3ff, #ccfffc);
  transform: scale(1.05);
}

#player-name-submission-error {
  color: rgb(255, 0, 0);
}

.shuffling-names-wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
}

.board div {
  border-radius: 5px;
  background-color: #f8d7ff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.board div:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  scale: 1.02;
}

.board {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.404);
  border-radius: 8px;
  margin: 20px;
  font-size: 3rem;
  cursor: pointer;
}

input:focus,
#start-game-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5eace0;
}

.shuffling-names-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.winner-text {
  color: #594bd8;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

#score-vs-score {
  text-align: center;
}

@media (max-width: 600px) {
  .board div {
    height: 3rem;
    width: 3rem;
  }

  #main-wrapper,
  .game-main {
    padding: 1rem;
  }
}
