html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at top, #73d3ff, #ccfffc);
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

h1,
h2 {
  margin-top: 0;
  color: #594bd8;
}

p,
h2,
.board {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-content: center;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.404);
  border-radius: 8px;
  margin: 20px;
  font-size: 3rem;
  cursor: pointer;
}

.board div {
  height: 5rem;
  width: 5rem;
  background-color: rgb(253, 200, 255);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffffd7;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.1s;
}

.board div:hover {
  background-color: rgba(107, 96, 209, 0.26);
  transform: scale(1.02);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  scale: 1.02;
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-top: 1.5rem;
}

.game-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10vw;
  align-items: top;
  padding-top: 3rem;
}

.total-scores-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.total-scores-wrapper div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
}

.total-scores-wrapper p {
  margin: 0.4rem;
}

.player1-side,
.player2-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  align-self: start;
}

#player1-in-game-name,
#player2-in-game-name {
  font-size: 2rem;
}

#finished-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#draggableX-player1,
#draggableO-player1,
#draggableX-player2,
#draggableO-player2 {
  cursor: grab;
}

div[draggable='true'] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

#game-page-wrapper,
#draggableX-player1,
#draggableO-player1,
#draggableX-player2,
#draggableO-player2,
.shuffling-names-wrapper,
#finished-game {
  display: none;
}

#game-page-wrapper h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#in-game-winner,
.winner-text,
.game-button-wrapper {
  visibility: hidden;
}

.name-input-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}

#main-wrapper h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

input {
  padding: 0.2rem 1rem 0.2rem 0.4rem;
  font-size: 1.3rem;
  border: 1px solid black;
}

#new-round-button,
#finish-game-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5eace0, #594bd8);
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  border: 2px solid #594bd8;
}

#new-round-button:hover,
#finish-game-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #73d3ff, #ccfffc);
  transform: scale(1.05);
}

#start-game-button,
#new-game-button {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5eace0, #594bd8);
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  border: 2px solid #594bd8;
}

#start-game-button:hover,
#new-game-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #73d3ff, #ccfffc);
  transform: scale(1.05);
}

#player-name-submission-error {
  color: rgb(255, 0, 0);
}

.shuffling-names-wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.203);
  color: #ffffff;
}

#shuffling-names {
  position: relative;
  bottom: 2rem;
}

input:focus,
#start-game-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5eace0;
}

.winner-text {
  color: #594bd8;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

#score-vs-score {
  text-align: center;
}

.draggableX {
  width: 60px;
  height: 60px;
}

.draggableO {
  width: 50px;
  height: 50px;
}

@media (max-width: 955px) {
  #game-page-wrapper {
    padding-top: 2rem;
  }

  .game-main {
    padding-top: 2rem;
  }

  #game-page-wrapper h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .winner-text {
    font-size: 1.5rem;
  }
  .shuffling-names-wrapper {
    font-size: 2rem;
  }

  #new-round-button,
  #finish-game-button {
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
  }

  input {
    padding: 0.2rem 1rem 0.2rem 0.4rem;
    font-size: 1.3rem;
    border: 1px solid black;
  }

  #main-wrapper h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  #player1-in-game-name,
  #player2-in-game-name {
    font-size: 1rem;
  }

  .total-scores-wrapper div {
    width: 7rem;
    font-size: 0.9rem;
  }

  .board {
    margin: 20px;
  }

  .winner-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  #game-page-wrapper h1 {
    font-size: 1.6rem;
    margin-bottom: 0rem;
  }
  .total-scores-wrapper div {
    width: 6rem;
    font-size: 0.9rem;
  }
  .board div {
    height: 5rem;
    width: 5rem;
  }

  #main-wrapper,
  .game-main {
    padding: 1rem;
  }

  .draggableX {
    width: 45px;
    height: 45px;
  }

  .draggableO {
    width: 40px;
    height: 40px;
  }
}
